<header class="jumbotron my-4">
  <h1 class="display-3">A Warm Welcome!</h1>
  <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>
  <a href="#" class="btn btn-primary btn-lg">Call to action!</a>
</header>

<div class="row">
  <% @articles.each do |article|%>
  <div class="col-lg-4 col-md-6 mb-4">
      <div class="card h-100">
        <%# <img class="card-img-top" src="http://placehold.it/500x325" alt=""> %>
        <div class="card-body">
          <h4 class="card-title"><%= article.title %></h4>
          <p class="card-text"><%= truncate(article.content, length: 100) %></p>
        </div>
        <div class="card-footer">
          <%= link_to 'Read', article_path(article.id), class: "btn btn-primary" %>
        </div>
      </div>
    </div> 
  <% end %>
</div>